<%-include('./component/header')%>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="row">
    <div class="col-md-5">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                   <div class="d-flex  w-100 justify-content-between align-items-center">
                        <h5>Show:</h5>
                        <span style="cursor:pointer" data-toggle="modal" data-target="#folder">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </span>
                   </div>
                    <!-- <% categories.forEach((ele,index)=>{%>
                        <a href="#" class="file-control active"><%= ele.name %></a>
                       
                    <% }) %>    -->

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                      
                        <% categories.forEach((ele,index)=>{%>
                            <li class="nav-item" onclick="selectFolder(<%=JSON.stringify(ele)%>)">
                                <a class="nav-link <% if(index == 0){ %> active <% } %>" id="<%= ele.name %>-tab" data-toggle="tab" href="#<%= ele.name %>" role="tab" aria-controls="<%= ele.name %>" aria-selected="true"><%= ele.name %></a>
                            </li>      
                        <% }) %>   
    
                    </ul>
                    <div class="tab-content" id="myTabContent">


                        <div class="tab-pane fade show active" id="Audio" role="tabpanel" aria-labelledby="Audio=tab">
                            <ul class="folder-list" style="padding: 0">
                                <% folder.forEach((ele,index)=>{%>
                                    <% if(ele.categories == 'Audio' && ele.parent_id==null){ %>
                                        <li class="border-0 " >
                                            <span  class="border-bottom py-2 d-flex justify-content-between align-items-center">
                                               <div>
                                                   <i class="fa fa-folder"></i><%=ele.folder_name%>
                                               </div>
                                                <div>
                                                    <i class="fa fa-chevron-down" id="folder_<%=ele.id%>"  aria-hidden="true" onclick="selectedFolder('<%=ele.id%>','<%=ele.categories%>')"></i>
                                                    <i class="fa fa-plus-circle"  data-toggle="modal" onclick="PrivateFolder('<%=ele.id%>')"  data-target="#PrivateFolder" aria-hidden="true"></i>
                                                    <i class="fa fa-cloud-upload"  data-toggle="modal" onclick="uploadFile('<%=ele.folder_name%>','<%=ele.id%>')"  data-target="#Upload" aria-hidden="true"></i>
                                                </div>
                                            </span>
                                            <%loop(folder,ele.id)%>
                                            <%docs(doc,ele.id)%>
                                        </li>
                                    <% } %>
                                <% }) %>     
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="Video" role="tabpanel" aria-labelledby="Video-tab">
                            <ul class="folder-list" style="padding: 0">
                                <% folder.forEach((ele,index)=>{%>
                                    <% if(ele.categories == 'Video' && ele.parent_id==null){ %>
                                        <li class="border-0" >
                                            <span   class="border-bottom py-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="fa fa-folder"></i><%=ele.folder_name%>
                                                </div>
                                                 <div>
                                                    <i class="fa fa-chevron-down" id="folder_<%=ele.id%>"  aria-hidden="true" onclick="selectedFolder('<%=ele.id%>','<%=ele.categories%>')"></i>
                                                     <i class="fa fa-plus-circle" data-toggle="modal" onclick="PrivateFolder('<%=ele.id%>')" data-toggle="modal"  data-target="#PrivateFolder" aria-hidden="true"></i>
                                                     <i class="fa fa-cloud-upload" data-toggle="modal" onclick="uploadFile('<%=ele.folder_name%>','<%=ele.id%>')" data-target="#Upload" aria-hidden="true"></i>
                                                 </div>
                                            </span>
                                            <%loop(folder,ele.id)%>
                                            <%docs(doc,ele.id)%>
                                        </li>
                                    <% } %>
                                <% }) %>     
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="Document" role="tabpanel" aria-labelledby="Document-tab">
                            <ul class="folder-list" style="padding: 0">
                                <% folder.forEach((ele,index)=>{%>
                                    <% if(ele.categories == 'Document' && ele.parent_id==null){ %>
                                        <li class="border-0">
                                            <span  class="border-bottom py-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="fa fa-folder"></i><%=ele.folder_name%>
                                                </div>
                                                 <div>
                                                     <i class="fa fa-chevron-down" id="folder_<%=ele.id%>"  aria-hidden="true" onclick="selectedFolder('<%=ele.id%>','<%=ele.categories%>')"></i>
                                                     <i class="fa fa-plus-circle" data-toggle="modal" onclick="PrivateFolder('<%=ele.id%>')" data-toggle="modal"  data-target="#PrivateFolder" aria-hidden="true"></i>
                                                     <i class="fa fa-cloud-upload" data-toggle="modal" onclick="uploadFile('<%=ele.folder_name%>','<%=ele.id%>')" data-target="#Upload" aria-hidden="true"></i>
                                                 </div>
                                            </span>
                                            <%loop(folder,ele.id)%>
                                            <%docs(doc,ele.id)%>
                                        </li>
                                    <% } %>
                                <% }) %>     
                            </ul>
                        </div>

                        <div class="tab-pane fade" id="Images" role="tabpanel" aria-labelledby="Images-tab">
                            <ul class="folder-list" style="padding: 0">
                                <% folder.forEach((ele,index)=>{%>
                                    <% if(ele.categories == 'Images' && ele.parent_id==null){ %>
                                        <li class="border-0" >
                                            <span  class="border-bottom py-2 d-flex justify-content-between align-items-center">
                                                <div>
                                                    <i class="fa fa-folder"></i><%=ele.folder_name%>
                                                </div>
                                                 <div>
                                                     <i class="fa fa-chevron-down" id="folder_<%=ele.id%>"  aria-hidden="true" onclick="selectedFolder('<%=ele.id%>','<%=ele.categories%>')"></i>
                                                     <i class="fa fa-plus-circle" data-toggle="modal" onclick="PrivateFolder('<%=ele.id%>')" data-toggle="modal"  data-target="#PrivateFolder" aria-hidden="true"></i>
                                                     <i class="fa fa-cloud-upload" data-toggle="modal" onclick="uploadFile('<%=ele.folder_name%>','<%=ele.id%>')" data-target="#Upload" aria-hidden="true"></i>
                                                 </div>
                                            </span>
                                            <%loop(folder,ele.id)%>
                                            <%docs(doc,ele.id)%>
                                        </li>
                                    <% } %>
                                <% }) %>     
                            </ul>
                        </div>
                    </div>
                                                        <!-- <div class="hr-line-dashed"></div>
                    <button class="btn btn-primary btn-block">Upload Files</button>
                    <div class="hr-line-dashed"></div> -->
                    <!-- <div class="d-flex justify-content-between"> -->
                       
                        <!--Global Folder Model start  -->
                            <div class="modal fade" id="folder" tabindex="-1" aria-labelledby="folderLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="folderLabel">Create  Folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/folder/builder" method="get">
                                       <div class="form-group">
                                          <input type="hidden" class="form-control" name="category" id="selected_folder" value="Audio" />
                                          <input type="hidden" class="form-control" name="userId" value="1" />
                                          <input type="text" class="form-control" name="name" placeholder="Enter Name" />
                                       </div>
                                       <div class="form-group">
                                          <button class="btn btn-primary" type="submit">Create</button>
                                       </div>
                                      </form>
                                    </div>
                                 
                                </div>
                                </div>
                            </div>
                        <!---Global Folder Model end  -->



                        <!--Private Folder Model start  -->
                            <div class="modal fade" id="PrivateFolder" tabindex="-1" aria-labelledby="privateFolderLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="privateFolderLabel">Create Private Folder</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/folder/builder" method="get">
                                       <div class="form-group">
                                          <input type="hidden" class="form-control" name="category" id="selected_private_folder" value="Audio" />
                                          <input type="hidden" class="form-control" name="userId" value="1" />
                                          <input type="hidden" class="form-control" name="parentId" id="ParentFolder" />
                                          <input type="text" class="form-control" name="name" placeholder="Enter Name" />
                                       </div>
                                       <div class="form-group">
                                          <button class="btn btn-primary" type="submit">Create</button>
                                       </div>
                                      </form>
                                    </div>
                                 
                                </div>
                                </div>
                            </div>
                        <!---Private Folder Model end  -->



                        <!--Upload Model start  -->
                            <div class="modal fade" id="Upload" tabindex="-1" aria-labelledby="UploadLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="UploadLabel">Upload Modal</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    </div>
                                    <div class="modal-body">
                                      <form action="/upload/file"  method="post"  enctype="multipart/form-data">
                                       <div class="form-group">
                                            <input type="hidden" name="category" id="selected_cetegory" value="Audio">
                                            <input type="hidden" name="folderName" id="folder_path" >
                                            <input type="hidden" name="folderID" id="folder_id" >
                                            <input type="file" class="custom-file-input" name="files" multiple id="validatedCustomFile" required>
                                            <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                       </div>
                                       <div class="form-group">
                                          <button class="btn btn-primary" type="submit">Create</button>
                                       </div>
                                      </form>
                                    </div>
                                 
                                </div>
                                </div>
                            </div>
                        <!---Upload Folder Model end  -->
                       
                    <!-- </div> -->

                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12" id="file_container"></div>
        </div>
        </div>
    </div>
</div>



<!-- folder loop function start -->
    <% function loop(arr,id){%>
        <% arr.forEach((e,i)=>{ %>
            <%if(e.parent_id==id){%>
                <ul class="folder-list hideChild drop<%=id%>" style="padding-left: 15px;">
                    <li class="border-0">
                        <span  class="border-bottom  py-2 d-flex justify-content-between align-items-center">
                            <div>
                                <i class="fa fa-folder"></i><%=e.folder_name%>
                            </div>
                                <div>
                                    <i class="fa fa-chevron-down" id="folder_<%=e.id%>"  aria-hidden="true" onclick="selectedFolder('<%=e.id%>','<%=e.categories%>',<%=e.parent_id%>)"></i>
                                    <i class="fa fa-plus-circle" data-toggle="modal" onclick="PrivateFolder('<%=e.id%>')" data-target="#PrivateFolder" aria-hidden="true"></i>
                                    <i class="fa fa-cloud-upload" data-toggle="modal" onclick="uploadFile('<%=e.folder_name%>','<%=e.id%>')" data-target="#Upload" aria-hidden="true"></i>
                                </div>
                        </span>
                        <%loop(arr,e.id)%>
                        <%docs(doc,e.id)%>
                    </li>
                </ul>
            <%}%>
        <% }) %>
    <%}%>    
<!-- folder loop function end -->

<!-- docs loop  function start -->
        <% function docs(arr,id){%>
        <% arr.forEach((e,i)=>{ %>
            <%if(e.file_id==id){%>
                <ul class="folder-list hideChild drop<%=id%>" style="padding-left: 15px;">
                    <li  class="border-0 ">
                        <a href=""  class="border-bottom ">
                            <i class="fa fa-file" aria-hidden="true"></i><%=e.name%>
                        </a>
                    </li>
                </ul>
            <%}%>
        <% }) %>
    <%}%>    
<!-- docs loop function end -->























<%-include('./component/footer')%>